<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webapp</title>
</head>
<body>
{% block content %}
<header>
    <div class="nav">
        <ul>
            <li ><a href="{{ url_for('main.home') }}">HOME</a> </li>
            <li ><a href="{{ url_for('auth.login') }}">LOGIN IN</a> </li>
            <li ><a href="{{ url_for('auth.register') }}">SIGN UP</a> </li>

        </ul>
    </div>
</header>
{% with messages= get_flashed_messages(with_categories=true)%}
    {% if messages %}
        {% for category, meg in messages%}
            <p style="text-align:left;">{{meg }}<span style="color:red;"></span></p>
        {% endfor %}
    {%endif %}
{% endwith %}



<main>
    <h1>{% block title%} Welcome to ChiengTech{% endblock title%}</h1>
</main>
{% endblock content%}
</body>
</html>